<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Vuetify Components Test</title>
  
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
  
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">
  <link href="./style.css" rel="stylesheet" type="text/css">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
</head>
<body>
  <div id="app">
    <v-toolbar class="orange">
      <v-toolbar-title>中盤商</v-toolbar-title>
      <span>第 {{ days }} 天 {{ readableTime }}，$ {{ money }}</span>
    </v-toolbar>
    <main>
      <v-content>
        <v-expansion-panel expand>
          <v-expansion-panel-content>
            <div slot="header">收到的汽車訂單</div>
            <v-card>
              <v-data-table
                v-bind:headers="receivedOrderHeaders"
                v-model="readableReceivedOrderList"
                hide-actions
              >
                <template slot="items" scope="props">
                  <td class="text-xs-left">{{ props.item.readableDayTime }}</td>
                  <td class="text-xs-right">{{ props.item.readableBuyer }}</td>
                  <td class="text-xs-right">{{ props.item.readableProduct }}</td>
                  <td class="text-xs-right">{{ props.item.quantity }}</td>
                  <td class="text-xs-right">{{ props.item.delivered }}</td>
                </template>
              </v-data-table>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-modal v-model="modal">
          <v-btn slot="activator" primary floating="floating" class="floating-right-bottom">
            <v-icon>add</v-icon>
          </v-btn>
          <v-card>
            <v-card-text>
              <h2 class="title">你要訂購多少呢？</h2>
            </v-card-text>
            <v-card-text class="subheading grey--text">
              <v-row>
                <v-btn light default>+5</v-btn>
              </v-row>
              <v-row>
                <v-btn light default>+1</v-btn>
              </v-row>
              <span>{{ orderQuantity }}</span>
              <v-row>
                <v-btn light default>-1</v-btn>
              </v-row>
              <v-row>
                <v-btn light default>-5</v-btn>
              </v-row>
            </v-card-text>
            <v-card-row actions>
              <v-spacer></v-spacer>
              <v-btn flat v-on:click.native="modal = false" class="primary--text">Cancel</v-btn>
              <v-btn flat v-on:click.native="modal = false" class="primary--text">Submit</v-btn>
            </v-card-row>
          </v-card>
        </v-modal>
      </v-content>
    </main>
  </div>
  <script type="text/javascript">
    const PRODUCTS = {
      999: '未知',
      0: '車子',
      1: '物料A',
      2: '物料B',
      3: '物料C',
      4: '倉庫',
      5: '工人薪水',
      6: '貨車'
    }
    
    const JOBS = {
      999: '未知',
      0: '交換處',
      1: '製造商',
      2: '批發商',
      3: '零售商',
      4: '市場',
      5: '隊輔'
    }
    
    function toReadableDays (days) {
      return '第' + days + '天'
    }
    
    function toReadableTimes (times) {
      var s = times % 60
      var m = (times - s) / 60
      return s + ':' + (m < 10 ? '0' : '') + m
    }
    
    function toReadableDayTime (days, times) {
      return toReadableDays(days) + ' ' + toReadableTimes(times)
    }
    
    var app = new Vue({
      el: '#app',
      data: {
        days: 1,
        times: 22,
        money: 300,
        receivedOrderHeaders: [
         {text: '時間', left: true, value: 'readableDayTime'},
         {text: '訂貨者', value: 'readableBuyer'},
         {text: '產品', value: 'readableProduct'},
         {text: '數量', value: 'quantity'},
         {text: '已送達', value: 'delivered'},
        ],
        receivedOrderList: [
         {
           buyer: {
             team: 2,
             job: 2
           },
           product: 0,
           quantity: 0,
           delivered: 0
         },
         {
           buyer: {
             team: 2,
             job: 2
           },
           product: 0,
           quantity: 0,
           delivered: 0
         }
        ],
        modal: false,
        orderQuantity: 0
      },
      computed: {
        readableTime: function () {
          return toReadableTimes(this.times)
        },
        readableReceivedOrderList: function () {
          var list = []
          this.receivedOrderList.forEach(function (item) {
            var it = {
              readableDayTime: toReadableDayTime(item.gameTime),
              readableBuyer: '第' + item.buyer.team + '組' + JOBS[item.buyer.job],
              readableProduct: PRODUCTS[item.product],
              quantity: item.quantity,
              delivered: item.delivered
            }
            list.push(it)
          })
          return list
        }
      }
    })
  </script>
</body>
</html>
